<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Movie</title>
    
    <style>
    
        body {
            font-family: Arial, sans-serif;
            background-color: #F0F0F0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        form {
            padding: 20px;
        }

        form label {
            font-weight: bold;
        }

        form input[type="text"],
        form input[type="date"],
        form input[type="file"],
        form input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        form input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        form input[type="submit"]:hover {
            background-color: #0056B3;
        }

        .back-link {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>New Movie</h1>
       <%= form_with model: @movie,local: true do |form| %>
            <label for="name">Name</label>
            <%= form.text_field :name ,id: "name"%><br><br>
            
            <label for="release_date">Release Date</label>
            <%= form.date_field :release_date, id: "release_date" %><br><br>
            <label for="poster">Poster</label>
            <%= form.file_field :poster, id: "poster" %><br><br>

            <%= form.submit %><br>
        <% end %>

        <div class="back-link">
            <%= link_to "Back to movies", movies_path %>
        </div>
    </div>
</body>
</html>
