<table align="center" style="max-width: 15rem;">
  <thead style="color:red">
    <tr>
      <th>Dish Name</th>
      <th>Category</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% dishes.each do |dish| %>
      <tr>
        <td><%=dish.dish_name %></td>
        <td><%=dish.category.category_name %></td>
        <td>
          <% unless dish.dish_images.empty? %>
            <%= image_tag(dish.dish_images[0], size: "50x40") %>
          <% end %>
        </td>
        <td><%= button_to "view", api_v1_dish_path(dish), method: :get %></td>
        <td><%= button_to "edit", edit_api_v1_dish_path(dish), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center", style="margin: 20px 0px 0px 0px">
  <%= paginate dishes %>
</div>
